{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>{% block title %}Home{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img class="border border-success" src="{% static 'images/logo_horizontal.png' %}" alt="" width="176" height="57" >
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registro_atendimento' %}">Atendimento</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuário
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'cadastro' %}">Cadastrar</a>
                            <a class="dropdown-item" href="#">Atualizar</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Sair</a>
                        </div>
                    </li>
                </ul>
                
                <form class="form-inline my-2 my-lg-0">
                    <h2 class="h2_user">Usuário: {{ usuario_logado }}</h2>
                </form>
                
            </div>
        </div>
    </nav>
    
    {% block content %}
        
    {% endblock %}
    
    {{ myurl|json_script:"url_" }}
    <script id="url_" type="application/json">
        window.location.origin;
    </script>
    {% bootstrap_javascript jquery='full' %}
    <script type='text/javascript' src='{% static "js/script.js" %}'></script>
</body>
</html>