{% extends 'home.html' %}

{% block title %}Registros de Atedimento{% endblock %}
{% load bootstrap4 %}
{% load static %}
{% block user %}{{ usuario_logado }}{% endblock %}

{% block content %}
<div class="container">
  <hr>
  <form class="form-search">
    <div class="row">
      <div class="col">
        <input class="form-control" id="form-control" type="text" name="fitrar" placeholder="Buscar Registros"
          autocomplete="off" autofocus />
      </div>
      <div class="col">
        <a href="{% url 'registros' %}" id="id_btnlimpar" class="btn btn-secondary">Limpar</a>
      </div>
    </div>
  </form>
  </hr>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">CNPJ</th>
        <th scope="col">CPF</th>
        <th scope="col">Nome</th>
      </tr>
    </thead>
    <tbody>
      {% for registro in registros %}
      <tr>
        <td scope="row">{{ registro.id }}</td>
        <td scope="row"><a href="#modal{{registro.id}}" data-toggle="modal">{{ registro.cnpj }}</a></td>
        <td scope="row">{{ registro.cpf }}</td>
        <td scope="row">{{ registro.nome }}</td>
      </tr>
      <div class="modal fade bd-example-modal-lg" id="modal{{registro.id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Registro Detalhado</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container text-center">
                <div class="row">
                  <div class="col-sx-12"><label id="id_Modal_Char">Nome:</label> {{registro.nome}}</div>
                </div>
                <div class="row">
                  <div class="col-sx-12"><label id="id_Modal_Char">Data de Nascimento:</label> {{registro.nascimento}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sx-12"><label id="id_Modal_Char">CNPJ:</label> {{registro.cnpj}}</div>
                </div>
                <div class="row">
                  <div class="col-sx-12"><label id="id_Modal_Char">CPF:</label> {{registro.cpf}}</div>
                </div>
                <div class="row">
                  <div class="col-sx-12"><label id="id_Modal_Char">E-mail:</label> {{registro.email}}</div>
                </div>
                <div class="row">
                  <div class="col-sx-12"><label id="id_Modal_Char">Tel. Principal:</label>
                    {{registro.telefone_principal}}</div>
                </div>
                <div class="row">
                  <div class="col-sx-12"><label id="id_Modal_Char">Tel. Alternativo:</label>
                    {{registro.telefone_alternativo}}</div>
                </div>
                <div class="row">
                  <div class="col-sx-12"><label id="id_Modal_Char">Descrição do Atendimento:</label>
                    {{registro.descricao}}</div>
                </div>
                <div class="row">
                  <div class="col-sx-12"><label id="id_Modal_Char">Tipo de Atendimento:</label> {{registro.tipo}}</div>
                </div>
                <div class="row">
                  <div class="col-sx-12"><label id="id_Modal_Char">Data do Registro:</label> {{registro.criado}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}